header{
    background-color:rgba(68, 139, 197, 0.5);
    height: 70px;
    box-shadow: 0 5px rgba(75, 95, 155, 0.5);

}
footer{
    margin-top: 20px;
    background-color:rgba(68, 139, 197, 0.5);
    height: 70px;
    box-shadow: 0 -5px rgba(75, 95, 155, 0.5);

}

header h1{
    position: absolute;
    left: 10%;
    color: rgb(40, 40, 105);
}
div#marca img{
    height: 60px;
    margin:5px 10px;
    float:left;
}

header nav{
    float: right;
    margin: 10px;
}
header nav ul{
    margin: 10px;
    padding: 0;
    float: left;
}
header nav ul li{
    display: inline;
    background-color: aqua;
}
header nav ul li a{
    padding: 10px;
    background-color: rgb(50, 50, 136);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 20px 0%;
    border: outset;
}
header nav ul li a:hover{
    background-color: rgb(28, 121, 41);
    border: outset;
}
header nav ul li a:active{
    background-color: rgb(28, 121, 41);
    border: inset;
}

section div.card_adopciones{
    display: inline-block;
    width: 17%;
    box-shadow: 5px 5px rgba(75, 95, 155, 0.5);
    padding: 0.5%;
    margin: 0.5%;
    border-radius: 10%;
}
section div.card_adopciones img{
    width: 90%;

}

