header{
    background-color:rgba(68, 139, 197, 0.8);
    left: 0;
    top:0;
    width: 100%;
    box-shadow: 0 5px rgba(75, 95, 155, 0.5);
    position: fixed;
    margin: 0;
    z-index: 1;
}
section{
    margin-top: 85px;
    margin-bottom: 85px;
}
footer{
    margin-top: 20px;
    background-color:rgba(68, 139, 197, 1);
    left: 0;
    bottom:0;
    width: 100%;
    height: 70px;
    box-shadow: 0 -5px rgba(75, 95, 155, 0.5);
    position: fixed;
    z-index: 1;
}

header h1{
    float:left;
    color: rgb(40, 40, 105);
    margin: 15px;
}
div#marca img{
    height: 60px;
    margin:5px 10px;
    float:left;
}

header div.togMenu{
    display: none;
    padding: 10px;
}
header div.togMenu img{
    height: 40px;
}
header nav{
    float: right;
    margin: 15px;
}
header nav ul{
    margin: 10px;
    padding: 0;
    float: left;
}
header nav ul li{
    display: inline;
    padding: 12px 0;

}
header nav ul li a{
    padding: 10px;
    background-color: rgb(50, 50, 136);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 20px 0%;
    border: outset;
}
header nav ul li a:hover{
    background-color: rgb(28, 121, 41);
    border: outset;
}
header nav ul li a:active{
    background-color: rgb(28, 121, 41);
    border: inset;
}

section div.card_adopciones{
    display: inline-block;
    width: 17%;
    box-shadow: 5px 5px rgba(75, 95, 155, 0.5);
    padding: 1%;
    margin: 0.2%;
    border-radius: 20px;
    background-color: rgba(68, 139, 197, 0.10);
}
section div.card_adopciones h2{
    position: absolute;
    width: 17%;
    height: 32px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    margin: 0;
}
section div.card_adopciones img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
}
section div.card_adopciones div.ubicacion iframe{
    border:0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.contacto .bloque1{
    margin-top: 1rem;
    border-top: groove;
}
.contacto .bloque1 img{
    width: 2rem;
}
.contacto .bloque1 span{
    vertical-align: top;
    margin: 2rem;
    font-weight: bold;
}
.contacto .bloque1 p, .contacto .bloque1 .row{
    vertical-align: top;
    margin-left: 8vw;
}
.bloque1 .row{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contacto .bloque1 .row .row_label,.contacto .bloque1 .row .row_cpo{
    vertical-align: top;
    display: inline-block;
}
.contacto .bloque1 .row .row_label{
    width: 8rem;
}
.contacto .bloque1 .row .row_cpo{
    width: 24rem;
}
.contacto .bloque1 .row .row_cpo input, .contacto .bloque1 .row .row_cpo textarea{
    width: 100%;
}


@media all and (min-width:950px) and (max-width: 1100px){
    section div.card_adopciones, section div.card_adopciones h2{
        width: 22%;
    }
    header div.togMenu{
        display: none;
    }
    header nav.menu_v{
        display: flex;
    }
    header nav.menu_o{
        display: flex;
    }
}
@media all and (min-width:650px) and (max-width: 949px){
    section div.card_adopciones, section div.card_adopciones h2{
        width: 30%;
    }
    header div.togMenu{
        display: flex;
        float: right;
    }
    header nav.menu_v{
        display: flex;
    }
    header nav.menu_o{
        display: none;
    }
}
@media all and (min-width:450px) and (max-width: 649px){
    section div.card_adopciones, section div.card_adopciones h2{
        width: 45%;
    }
    header div.togMenu{
        display: flex;
        float: right;
    }
    header nav.menu_v{
        display: flex;
        float: left;
    }
    header nav.menu_o{
        display: none;
    }
    header nav ul li{
        display: block;
    }
}
@media all and (max-width: 449px){
    section div.card_adopciones, section div.card_adopciones h2{
        width: 99%;
    }
    header div.togMenu{
        display: flex;
        float: right;
    }
    header nav.menu_v{
        display: flex;
        float: left;
    }
    header nav.menu_o{
        display: none;
    }
    header nav ul li{
        display: block;
    }
}